#club .content {
  padding: 40px 0 0 0;
}
#club .header {
  padding: 10px;
}
#club.information > h1,
h2,
h3,
h4,
h6,
p {
  padding: 4px;
  text-transform: capitalize;
}
#club h6 {
  letter-spacing: 2px;
  color: #00f;
  font-size: 20px;
}
#club .List {
  list-style: none;
  padding: 10px 0 0 10px;
}
